argcomplete==1.10.3
beautifulsoup4==4.8.2
chardet==3.0.4
compressed-rtf==1.0.6
cycler==0.11.0
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
fonttools==4.33.3
IMAPClient==2.1.0
kiwisolver==1.4.3
lxml==4.9.0
matplotlib==3.5.2
numpy==1.22.4
olefile==0.46
packaging==21.3
pandas==1.4.2
pdfminer.six==20191110
Pillow==9.1.1
pycryptodome==3.14.1
pyparsing==3.0.9
PyPDF2==2.2.0
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
textract==1.6.5
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
xlrd==1.2.0
XlsxWriter==3.0.3
